<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../libraries/styles.css">
  <link rel="stylesheet" href="../../../libraries/bootstrap.min.css">
  <link rel="stylesheet" href="../../../libraries/jsxgraph.css">
  <script type="text/javascript" src="../../../engines/genericEngines/polyfillsAllUsed.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../libraries/generalStylesFragata.css" />

</head>

<body>

  <style>
    @media only screen and (max-width: 350px) {
      .board-validation-curves {
        width: 250px;
      }


    }
  </style>

  <div class="containerNormal background-gray">

    <h3>Estudio de Curvas</h3>
    <hr>
    <div class="infoText" style="">
      <p class="text-break" style="margin: 20px; max-width: 1346px;">
        La condición <span class="expression">&nbsp; a < ƒ(x)&nbsp;&nbsp;</span>, será interpretada
            como: "las alturas de <span class="expression">ƒ</span> , en todos los x del dominio de <span
              class="expression">ƒ</span> deben ser mayor que <span class="expression">a</span> " . La manera
            correcta de
            escribir esta condición es: <span class="operationContainer" style="padding-top: 1px;"> ∀x ∈ Dom(ƒ),a
              < ƒ(x)</span>. Al interpretar a < ƒ(x) de la manera que se acaba de indicar, se está asumiendo que la
                  condición se debe cumplir <span class='operationContainer'>∀x ∈ Dom(ƒ)
            </span> </p>
    </div>

    <div class="titleInfo marginTop-2">
      <p class="containerNormal ">
        Grafique en cada caso una curva ƒ que satisfaga las condiciones señaladas
      </p>
    </div>

    <div id=" container" class="containerNormal" style="max-width: 1050px;">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="defBoard" data-artifact="artifact_1"></div>
        <div class="defBoard" data-artifact="artifact_2"></div>
        <div class="defBoard" data-artifact="artifact_3"></div>
        <div class="defBoard" data-artifact="artifact_4"></div>
        <div class="defBoard" data-artifact="artifact_5"></div>
        <div class="defBoard" data-artifact="artifact_6"></div>
      </div>
    </div>

  </div>
  </div>




  <!-- Librerías -->
  <script src="../../../libraries/jsxgraphcore.js"></script>
  <script src="../../../libraries/mathLive.js"></script>

  <!-- Motores -->
  <script src="../../../engines/genericEngines/mod_G.js"></script>
  <script src="../../../engines/genericEngines/mathKeyboard.js"></script>
  <script src="../../../engines/cap_1/boardDefault.js"></script>
  <script src="../../../engines/cap_1/engineOwner.js"></script>
  <script src="../../../engines/cap_1/validationCurves.js"></script>
  <script src="../../../engines/genericEngines/progressEngine.js"></script>


  <!-- Definition -->
  <script src="../../../definitions/cap_1/pag_20.js"></script>
  </div>
</body>

</html>