<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="../../../libraries/styles.css">
  <link rel="stylesheet" href="../../../libraries/bootstrap.min.css">
  <link rel="stylesheet" href="../../../libraries/jsxgraph.css">
  <script type="text/javascript" src="../../../engines/genericEngines/polyfillsAllUsed.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../libraries/generalStylesFragata.css" />

</head>

<body>
  <style>
    .parrafo {
      text-align: left;
      padding: 10px;
    }

    @media only screen and (max-width: 320px) {
      .board-validation-curves {
        width: 250px !important;
      }

      .orderLarge input {
        max-height: 24px;

      }

      .parrafo {


        background-color: #f2f2f2;
        border-radius: .2rem;
      }
    }
  </style>
  <div class="containerNormal background-gray">


    <h3>Estudio de Curvas</h3>
    <hr>

    <p class="note">
      <strong> <i>"ƒ es acotada"</i></strong> significará que <i>ƒ</i> es acotada superiormente e inferiormente en
      todo su dominio.
      Escriba al lado de los ejes, los números que necesite para que quede claro que la curva dibujada cumple las
      condiciones exigidas.
    </p>
    <div id="container" class="containerNormal">
      <div class="d-flex flex-wrap justify-content-center">
        <!--Contenedores de los boards-->
        <div class="defBoard" data-artifact="artifact_1"></div>
        <div class="defBoard" data-artifact="artifact_2"></div>
        <div class="defBoard" data-artifact="artifact_3"></div>
        <div class="defBoard" data-artifact="artifact_4"></div>
        <div class="defBoard" data-artifact="artifact_5"></div>
        <div class="defBoard" data-artifact="artifact_6"></div>
        <div class="defBoard" data-artifact="artifact_7"></div>
        <div class="defBoard" data-artifact="artifact_8"></div>
        <div class="defBoard" data-artifact="artifact_9"></div>
      </div>
    </div>

  </div>



  <!-- Librerías -->
  <script src="../../../libraries/jsxgraphcore.js"></script>
  <script src="../../../libraries/mathLive.js"></script>

  <!-- Motores -->
  <script src="../../../engines/genericEngines/mod_G.js"></script>
  <script src="../../../engines/genericEngines/mathKeyboard.js"></script>
  <script src="../../../engines/cap_1/boardDefault.js"></script>
  <script src="../../../engines/cap_1/engineOwner.js"></script>
  <script src="../../../engines/cap_1/validationCurves.js"></script>
  <script src="../../../engines/genericEngines/progressEngine.js"></script>

  <!-- Definition -->
  <script src="../../../definitions/cap_1/pag_26.js"></script>
</body>

</html>