.question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #fff;
    padding: 1px;    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20px;
}

.question-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.question-text {
    font-size: 18px;
    font-weight: bold;
}

.oval-container {
    display: flex;
    justify-content: center;
    margin-left:80%;
    align-items: center;
    width: 50px;
    height: 30px;
    margin-top: 1px;
    background-color: #000000; /* Black */
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
