<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../../libraries/styles.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/babel.min.js" />
  <link rel="stylesheet" type="text/css" href="../../../libraries/generalStylesFragata.css" />
  <script type="text/javascript" src="../../../engines/genericEngines/polyfillsAllUsed.js"></script>
</head>

<body>

  <div class="containerNormal background-gray">
    <h1>Plano Cartesiano</h1>
    <hr>
    <div class=" marginTop-4">
      <div class="contenedor marginBottom-4">
        <h2 class="superTitle">
          COMENTARIOS
        </h2>
      </div>
      <div class="contenedor">
        <p class="parrafo subtitulo titleInfo">
          Contenido del capítulo.
        </p>
        <span class="parrafo infoText"> Intervalos. Plano Cartesiano
        </span>

      </div>
      <p class="subtitulo titleInfo">Conexiones e importancia del capítulo.</p>
      <div class="containerNormal padding-1">
        <div class=" infoText ">
          <p class="subtitulo">Con el libro.</p>
          <p class="parrafo  spacing">Tanto el plano cartesiano como los intervalos son parte del lenguaje
            indispensable para poder trabajar con el libro.</p>
          <p class="subtitulo  subtitle-normal">Con otros semestres de matemáticas.</p>
          <p class="parrafo  spacing">Se utiliza en todos los cursos relacionados con el cálculo.</p>
          <p class="subtitulo  subtitle-normal">Con otras carreras.</p>
          <p class="parrafo spacing ">El plano cartesiano es una noción que rebasa ampliamente el ámbito
            matemático.</p>
        </div>

      </div>
      <div class="contenedor marginTop-3">
        <p class="subtitulo titleInfo">Funcionamiento didáctico.</p>
        <p class="parrafo spacing infoText">Existen tres representaciones útiles, aunque no totalmente equivalentes,
          de los intervalos. Estas son
          las que se trabajan en el primer conjunto de ejercicios. En algunos casos, la representación en la
          recta es imposible (por ejemplo en la intersección de conjuntos disjuntos). En otros, existen varias
          representaciones conjuntistas, o de intervalos, posibles para una sola representación sobre la recta.
          La noción de intervalo es utilizada para introducir, de manera somera y referidas a ellos, algunas
          operaciones y propiedades de conjuntos. Algunos de los ejercicios tienen por objeto hacer ver
          algunas propiedades. Por ejemplo que: <span class="operationContainer"> A ⊂ B → A ∪ B = B y A ∩ B =
            A</span> No se dan explícitamente
          todas las definiciones, ni todas las convenciones. El profesor las puede dar, en la medida en que los
          alumnos las soliciten o requieran y que a él le parezca necesario. Se recomienda no insistir
          innecesariamente en el formalismo de la teoría de conjuntos.
          Los ejercicios del plano cartesiano son utilizados no sólo para introducir la noción de punto del
          plano, sino tambien para enfrentar al alumno con ciertas preconcepciones erradas de la notación
          algebraica. Por ejemplo, la creencia muy generalizada de que una expresión tiene un valor negativo
          si el signo <span class="" style="background-color:#aadeef ;">-</span> aparece al comienzo de ella.
        </p>

      </div>
      <div class="contenedor">
        <p class="subtitulo titleInfo">Puntos delicados.</p>
        <p class="parrafo spacing infoText">El trabajo que se hace en el capítulo sobre la preconcepción que hace
          pensar que -a tiene un valor
          negativo porque hay un signo menos al comiezo de la expresión, es insuficiente. A todo lo largo del
          libro,
          a través de diversas situaciones y ejercicios, se trata de superarla.
        </p>
        <p class="subtitulo titleInfo">Objetivos actitudinales.</p>
        <p class="parrafo spacing infoText">Todos los ejercicios del capítulo deben ser hechos. Esto es un actitud
          que debe ser fortificada
          a lo largo de todo el libro.
        </p>
        <p class="subtitulo titleInfo">Contrato didáctico.</p>
        <p class="parrafo spacing infoText">Debe haber una insistencia en respetar la escala en los ejercicios del
          plano cartesiano.
        </p>

      </div>

    </div>

  </div>
  </div>

</body>

</html>